.canvas-container {
  border-width: 0.1rem;
  border-color: rgb(218, 197, 224);
  border-radius: 0.5rem;
  margin: auto;
  display: block;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.controls > div {
  margin-bottom: 10px;
}

.controls button,
.controls a {
  margin: 0 10px;
  padding: 10px 20px;
  border: 2px solid #555;
  background-color: #eee;
  color: #555;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.controls button:hover,
.controls a:hover {
  background-color: #ddd;
}

.controls input[type="range"] {
  width: 80%;
  margin-right: 10px;
}

.controls input[type="color"] {
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.controls input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
  border-radius: 5px;
}

.controls input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}

.controls button.clear-button {
  background-color: #ff0000; /* Red background color */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.controls button.clear-button:hover {
  background-color: #cc0000; /* Darker red on hover */
}

.controls a.save-link {
  background-color: #00ff00; /* Green background color */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; /* Remove default underline */
}

.controls a.save-link:hover {
  background-color: #00cc00; /* Darker green on hover */
}

.interaction-textarea {
  width: 800px; /* Same width as the canvas */
  height: 100px; /* Set desired height */
  margin-top: 10px; /* Center horizontally with top and bottom margin */
  display: block;
  resize: none; /* The Text can be seen just using a scroll wheel if it gets too long */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add some border radius for aesthetics */
  padding: 10px; /* Add some padding */
  box-sizing: border-box; /* Include padding in the width */
  color: #000; /* Set the text color */
  font-size: 25px; /* Set the font size */
}

.shot-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-container {
  /* This is the yellow background */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 15px;
  background-color: rgb(223, 227, 40);
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgb(89, 89, 89);
}
