@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 93vh;
  background-color: rgb(73, 54, 77);
}

.login-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(73, 54, 77);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 7vh;
  padding: 0.5rem;
  background-color: rgb(38, 24, 42);
  border-bottom-width: 0.2rem;
  border-bottom-color: rgb(89, 68, 93);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 5%;
  height: 93vh;
  background-color: rgb(38, 24, 42);
  border-right-width: 0.2rem;
  border-right-color: rgb(89, 68, 93);
}

.home-sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 93vh;
  background-color: rgb(38, 24, 42);
  border-right-width: 0.2rem;
  border-right-color: rgb(89, 68, 93);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 5vh;
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgb(69, 45, 75);
  border-radius: 0.5rem;
  border-width: 0.2rem;
  border-color: rgb(89, 68, 93);
}

.button:hover {
  background-color: rgb(112, 86, 117);
}

.nav-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

/* styles.css */

.scene-container {
  display: flex;
  overflow-x: auto;
  padding: 16px;
  background-color: #f0f0f0;
}

.scene {
  flex: 0 0 300px; /* Fixed width for scenes */
  margin: 0 16px;
  padding: 16px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scene h3 {
  margin: 0 0 16px;
  font-size: 18px;
  text-align: center;
}

.shot {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shot img {
  max-width: 100%;
  border-radius: 4px;
}

.shot p {
  margin: 8px 0 0;
  font-size: 14px;
  text-align: center;
}
