.scene {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: rgb(102, 122, 189);
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: grab;
}

.scene:active {
    cursor: grabbing;
}
