/* SceneContainer.css */

.scene-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 93%;
}
.scene-container input
{
  background-color: rgb(89, 68, 93);
  border: 1px white solid;
  padding: 4px;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
}
.scene-container .change-name
{
  padding: 4px;
  color: white;
  margin-left: 5px;
  border: 1px white solid;
  border-radius: 10px;
  opacity: .8;
  background: rgb(38, 24, 42);
}
.scene-container .change-name:hover
{
  opacity: 1;
}
.scene {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background: #552c68;
  width: 5000px;
  cursor: move;
}

.shots-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  min-height: 100px;
}

.shot {
  border: 1px solid #ccc;
  padding: 5px;
  background: #fff;
  border-radius: 4px;
}

.shot img {
  max-width: 160px;
  max-height: 90px;
  display: block;
  margin: 0 auto;
}

.shot p {
  text-align: center;
  margin-top: 5px;
}